html,body{
    height:100%;
    border:0;
    padding:0;
    margin:0;
}
*{
    font-size: 10vw;
    font-family: Tohoma;
}
#AnswerButton{
    width:auto;
    margin:0.25em;
    text-align:center;
    background:linear-gradient(160deg, #00ffd5 20%,#008cff 80%);
    border-radius: 1em;
    box-shadow:0 0 0.5em #777777;
}
#titlebar{
    width:100%;
    text-align: center;
    box-shadow: 0 0 0.5em #777777;
}
#faketitlebar{
    font-size:1em;
}
#answerbar{
    text-align:center;
}
center{
    display:none;
}